*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(./glass\ pic.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background-color: black;
  box-shadow: 3px 3px 3px white;

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: oblique;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration:none;
  display: flex;
  align-items:center;
  color:white; 
}
nav a:hover{
  background-color: rgb(39, 39, 34);
}
nav li:first-child{
  margin-right: auto;
}
 .sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: black;
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px 3px white;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .sidebar li{
  width: 100%;
 }
 .sidebar a{
  width: 100%;
 }
 @media (max-width:800px) {
  .hidemobile{
  display: none;
 }
 }